<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/help/fragments :: admin-head"/>
<body>
<div th:replace="admin/help/fragments :: navbar"></div>
<!-- Register Section Begin -->
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="register-form">
                    <form th:action="@{/create-user}" th:object="${user}" method="post" id="registraion-form">
                        <div class="group-input">
                            <label th:text="#{admin.users.firstName}"></label>
                            <input type="text" th:field="*{firstName}" minlength="1" required>
                        </div>
                        <div class="group-input">
                            <label th:text="#{admin.users.lastName}"></label>
                            <input type="text" th:field="*{lastName}" minlength="1" required>
                        </div>
                        <div class="group-input">
                            <label th:text="#{admin.users.email}"></label>
                            <input type="email" th:field="*{email}" required>
                        </div>
                        <div class="group-input">
                            <label th:text="#{admin.users.phoneNumber}"></label>
                            <input type="text" th:field="*{phoneNumber}" required>
                        </div>
                        <div class="group-input">
                            <label th:text="#{register.username}"></label>
                            <input type="text" th:field="*{username}" minlength="2" required>
                        </div>
                        <div class="group-input">
                            <label th:text="#{register.password}"></label>
                            <input type="password" th:field="*{password}" minlength="4" required>
                        </div>
                        <button type="submit" class="site-btn register-btn" th:text="#{admin.user.createBtn}"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Form Section End -->
<div th:replace="admin/help/fragments :: scripts"></div>
</body>
</html>