<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/help/fragments :: admin-head"/>

<body>
<div th:replace="admin/help/fragments :: navbar"></div>

<!-- Adding New Product Section -->
<section class="checkout-section spad">
    <div class="container">
        <div class="checkout-form">
            <h4>Add New Vinyl</h4>
            <div class="row">
                <div class="col-lg-12">
                    <label for="name">Vinyl Name</label> <input type="text" id="name">
                    <div id="vinyl-name-alert" class="alert-class"></div>
                </div>
                <div class="col-lg-12">
                    <label for="description">Description</label>
                    <textarea id="description"></textarea>
                    <div id="description-alert" class="alert-class"></div>
                </div>
                <div class="col-lg-6">
                    <label for="price">Price (RSD)</label> <input type="number" id="price">
                    <div id="price-alert" class="alert-class"></div>
                </div>
                <div class="col-lg-6">
                    <label for="stock">Stock</label> <input type="number" id="stock">
                    <div id="quantity-alert" class="alert-class"></div>
                </div>
                <div class="col-lg-6 admin-img">
                    <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
                        <label for="imgUrl">Image</label>
                        <input id="imgUrl" type="file" name="file" accept="image/png, image/jpeg">
                    </form>
                    <div id="image-alert" class="alert-class"></div>
                </div>
                <div class="col-lg-6">
                    <label>Format</label>
                    <div class="select-format">
                        <select id="selected-format">
                            <option th:each="f: ${formats}" th:value="${f.id}" th:text="${f.name}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Begin Tab Section -->
            <div class="col-lg-12">
                <div class="product-tab" style="padding-top:70px;">

                    <div class="tab-item">
                        <ul class="nav" role="tablist">
                            <li><a class="active" data-toggle="tab" href="#tab-1" role="tab">Artist</a></li>
                            <li><a data-toggle="tab" href="#tab-2" role="tab">Tracklist</a></li>
                            <li><a data-toggle="tab" href="#tab-3" role="tab">Record label</a></li>
                            <li><a data-toggle="tab" href="#tab-4" role="tab">Genre(s)</a></li>
                        </ul>
                    </div>
                </div>
                <div class="tab-item-content" style="padding-top:25px;">
                    <div class="tab-content">

                        <!-- Artist Tab -->
                        <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                            <br> <br>
                            <div class="row">
                                <div class="col-lg-7">
                                    <input type="text" id="artistName" name="artistName" placeholder="Artist Name">
                                </div>
                                <div class="col-lg-3">
                                    <input type="button" value="Create / Find" onclick="findOrCreateArtist()">
                                </div>
                                <div class="col-lg-10" id="artist-response">
                                </div>
                            </div>
                        </div>

                        <!-- Tracklist Tab -->
                        <div class="tab-pane fade-in" id="tab-2" role="tabpanel">
                            <div class="product-content">
                                <label>Add Song To Table</label>
                                <div class="row">
                                    <div class="col-lg-5">
                                        <input type="text" placeholder="Song Name" id="songName" name="songName">
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="text" placeholder="Song Duration (0:00)" id="songDuration"
                                               name="songDuration">
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="button" class="add-song" id="addSong" onclick="songToTable()"
                                               value="Add">
                                    </div>
                                    <div class="col-lg-10" id="song-response"></div>
                                </div>
                                <div class="col-lg-10" style="padding: 0px">
                                    <div class="specification-table" id="songTable">
                                        <table>
                                            <thead>
                                            <th>Song name</th>
                                            <th>Duration</th>
                                            <th>Delete</th>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Record Label Tab -->
                        <div class="tab-pane fade-in" id="tab-3" role="tabpanel">
                            <div class="col-lg-10" style="padding: 0px">
                                <br><br>

                                <label>Choose Existing Record Label</label>
                                <div class="select-recordlbl">
                                    <select class="recordlbl" id="rl-select">
                                        <option th:each="r: ${recordLabels}" th:value="${r.id}"
                                                th:text="${r.name +', '+ r.year+'.'}"></option>
                                    </select>
                                </div>
                            </div>
                            <br><br>
                            <label>Create New Record Label</label>
                            <div class="row">
                                <div class="col-lg-5">
                                    <input type="text" placeholder="Record Label Name" id="rl-name">
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" placeholder="Year" id="rl-year">
                                </div>
                                <div class="col-lg-2">
                                    <input type="button" onclick="createRecordLabel()" value="Create">
                                </div>
                                <div class="col-lg-8" id="rl-response">
                                </div>
                            </div>
                        </div>

                        <!-- Genre Tab -->
                        <div class="tab-pane fade-in" id="tab-4" role="tabpanel">
                            <br><br>
                            <label>Create New Genre</label>
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" placeholder="New Genre" id="genreName">
                                </div>
                                <div class="col-lg-4">
                                    <input type="button" id="btn-prob" onclick="createNewGenre()" value="Create / Find">
                                </div>
                                <div class="col-lg-10" id="genre-response">
                                </div>
                            </div>
                            <br>

                            <label>Choose Genre</label>
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="select-recordlbl genre_list">
                                        <select class="recordlbl" id="genre-select" th:fragment="genre_fragment">
                                            <option th:each="g: ${genres}" th:value="${g.id}" th:text="${g.name}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <input type="button" onclick="addToListOfGenres()" value="Add">
                                </div>
                                <div class="col-lg-3">
                                    <input type="button" class="reset-genres" value="Reset Genre(s)">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="filter-widget">
                                        <div class="fw-tags" id="selected-genres">
                                            <ul id="genres-ul">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10" id="genre-contains">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Tab Section -->

            <div class="row" style="padding-top: 40px">
                <div class="col-lg-5">
                    <input type="button" class="new-vinyl-save" value="Save Vinyl" onclick="saveNewVinyl()">
                </div>
                <div class="col-lg-5">
                    <input type="button" class="new-vinyl-save" value="Cancel" onclick="saveNewVinyl()">
                </div>
                <div id="vinyl-response" class="col-lg-12"></div>
            </div>
        </div>
    </div>
</section>

<div th:replace="admin/help/fragments :: scripts"></div>
</body>
</html>