<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/help/fragments :: admin-head"/>
<body>
<div th:replace="admin/help/fragments :: navbar"></div>
<!-- Register Section Begin -->
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="register-form">
                    <form th:action="@{/admin/edit-user}" method="post">
                        <input id="user-id" type="hidden" th:name="id" th:value="${user?.id}">
                        <div class="group-input">
                            <label th:text="#{admin.users.firstName}"></label>
                            <input id="first-name" type="text" th:value="${user?.firstName}" readonly>
                        </div>
                        <div class="group-input">
                            <label th:text="#{admin.users.lastName}"></label>
                            <input id="last-name" type="text" th:value="${user?.lastName}" readonly>
                        </div>
                        <div class="group-input">
                            <label th:text="#{admin.users.email}"></label>
                            <input id="email" type="email" th:value="${user?.email}" readonly>
                        </div>
                        <div class="group-input">
                            <label th:text="#{admin.users.phoneNumber}"></label>
                            <input id="phone" type="text" th:value="${user?.phoneNumber}" readonly>
                        </div>
                        <div class="group-input">
                            <label th:text="#{register.username}"></label>
                            <input id="username" type="text" th:value="${user?.username}" readonly>
                        </div>
                        <div class="group-input">
                            <label th:text="#{admin.editUser.role}"></label>
                            <select class="form-control" id="role-add">
                                <option th:each="role: ${roles}" th:value="${role.name}" th:text="${role.name}">
                                </option>
                            </select>
                        </div>
                        <div class="group-input" id="role-part">
                            <label><span th:text="#{admin.editUser.currentRoles}"></span>
                                <span style="float: right">
                                <i class="fa fa-trash" aria-hidden="true" style="font-size: 20px; cursor: pointer;" onclick="removeRoles()"></i></span></label>
                            <ul id="current-roles" style="list-style-type: none">
                                <li th:each="userRole : ${user?.userRoles}" th:value="${userRole?.role?.name}">
                                    <span th:classappend="${(userRole.role.name == 'ROLE_CUSTOMER' ? 'badge badge-success' : '') +
                                    (userRole.role.name == 'ROLE_ADMIN' ? 'badge badge-danger' : '')}"
                                             th:text="${userRole.role.name}" style="padding: 10px; margin-top: 10px"></span>
                                </li>
                            </ul>
                        </div>
                        <input type="hidden" th:value="#{admin.userUpdated}" id="user-updated">
                        <input type="hidden" th:value="#{admin.userNotUpdated}" id="user-not-updated">
                        <div class="user-edited-response"></div>
                        <input type="hidden" th:value="#{admin.userHasRole}" id="user-has-role">
                        <input type="hidden" th:value="#{admin.canNotAddMoreRoles}" id="no-more-roles">
                        <input type="hidden" th:value="#{admin.noRoles}" id="no-roles">
                        <div id="role-alert"></div>
                        <button type="button" th:href="@{/admin/edit-user(id=${user.id})}" class="site-btn register-btn update-user-btn" style="margin-top: 20px" th:text="#{admin.editUser.updateBtn}">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Form Section End -->
<div th:replace="admin/help/fragments :: scripts"></div>
</body>
</html>