<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/help/fragments :: admin-head"/>
<body>
<div th:replace="admin/help/fragments :: navbar"></div>
<!-- Register Section Begin -->
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="register-form">
                    <form th:action="@{/admin/edit-user}" th:object="${user}" method="post">
                        <input type="hidden" th:name="id" th:value="*{id}">
                        <div class="group-input">
                            <label>First name</label> <input type="text" th:field="*{firstName}" minlength="1" required>
                        </div>
                        <div class="group-input">
                            <label>Last name</label> <input type="text" th:field="*{lastName}" minlength="1" required>
                        </div>
                        <div class="group-input">
                            <label>Email address</label> <input type="email" th:field="*{email}" required>
                        </div>
                        <div class="group-input">
                            <label>Phone number</label> <input type="text" th:field="*{phoneNumber}" required>
                        </div>
                        <div class="group-input">
                            <label>Username</label> <input type="text" th:field="*{username}" minlength="2" required>
                        </div>
                        <div class="group-input">
                            <label>Role</label>
                            <select class="form-control" id="userRoles" th:name="userRoles" th:field="*{userRoles}" style="height: 46px">
                                <option th:selected="${(user.userRoles == '[ROLE_ADMIN]') ? true : false}" value="ROLE_ADMIN">Admin</option>
                                <option th:selected="${(user.userRoles == '[ROLE_CUSTOMER]') ? true : false}"value="ROLE_CUSTOMER">Customer</option>
                            </select>
                        </div>
                        <button type="submit" class="site-btn register-btn">Update User Info</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Form Section End -->
<div th:replace="admin/help/fragments :: scripts"></div>
</body>
</html>