<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/help/fragments :: admin-head" />

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<div th:replace="admin/help/fragments :: navbar"></div>

	<section class="product-shop spad page-details checkout-section spad" th:object="${vinyl}">
		<div class="container">
			<div class="checkout-form">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-5">
							<div class="product-pic-zoom-edit existingImg">
								<img class="product-big-img" id="img-y" th:src="${vinyl.imgUrl}" alt="">
								<div class="zoom-icon">
									<i class="fa fa-search-plus"></i>
								</div>
							</div>
						</div>
						<div class="col-lg-7">
							<input type="hidden" th:value="#{admin.artistSaved}" id="artist-saved">
							<input type="hidden" th:value="#{admin.artistExists}" id="artist-exists">
							<input type="hidden" th:value="#{admin.artistEmpty}" id="artist-empty">
							<label for="name" th:text="#{admin.vinyl.name}"></label> <input type="text" th:value="${vinyl.vinylName}" id="name">
							<div id="vinyl-name-alert" class="alert-class"></div>
							<label for="name" th:text="#{admin.artist.name}"></label>
							<input type="text" id="artistName" name="artistName" th:value="${vinyl.artist.stageName}">
							<input type="button" th:value="#{admin.artist.findOrCreate}" onclick="findOrCreateArtist()">
							<div id="artist-response"></div>
							<label for="price" th:text="#{admin.vinyl.price}"></label>
							<input type="number" id="price" step=".01" th:value="${vinyl.price}">
							<div id="price-alert" class="alert-class"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-10">
							<label for="description" th:text="#{admin.vinyl.description}"></label>
							<textarea id="description" th:inline="text">[[${vinyl.description}]]</textarea>
							<div id="description-alert" class="alert-class"></div>
						</div>
						<div class="col-lg-5 admin-img">
							<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
								<label th:text="#{admin.vinyl.image}"></label>
								<input id="imgUrl" type="file" name="file" accept="image/png, image/jpeg">
							</form>
							<div id="image-alert" class="alert-class"></div>
						</div>
						<div class="col-lg-5">
							<label th:text="#{admin.vinyl.stock}"></label>
							<div>
								<input id="stock" type="number" th:value="${vinyl.stock}">
							</div>
							<div id="quantity-alert" class="alert-class"></div>
						</div>
					</div>
					<br>
					<hr>
					<div class="row">
						<div class="col-lg-4">
							<label>Format</label>
							<input class="format-chosen" readonly type="text" th:value="${vinyl.format.name}">
						</div>
						<div class="col-lg-5">
							<label th:text="#{admin.vinyl.edit.selectDifferent}"></label>
							<div class="select-format">
								<select id="selected-format">
									<option th:each="f: ${formats}" th:value="${f.id}" th:text="${f.name}"></option>
								</select>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-lg-8">
							<label th:text="#{admin.vinyl.edit.rl}"></label>
							<input class="rl-chosen" readonly type="text" th:value="${vinyl.recordLabel.name + ', ' + vinyl.recordLabel.year + '.'}">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-8">
							<label th:text="#{admin.vinyl.edit.changeRL}"></label>
							<div class="select-recordlbl">
								<select class="recordlbl" id="rl-select">
									<option th:each="r: ${recordLabels}" th:value="${r.id}" th:text="${r.name +', '+ r.year+'.'}"></option>
								</select>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-10">
							<label th:text="#{admin.vinyl.edit.createRL}"></label>
						</div>
						<div class="col-lg-5">
							<input type="text" th:placeholder="#{admin.rl.name}" id="rl-name">
						</div>
						<div class="col-lg-2">
							<input type="text" th:placeholder="#{admin.rl.year}" id="rl-year">
						</div>
						<div class="col-lg-2">
							<input type="button" onclick="createRecordLabel()" th:value="#{admin.rl.createBtn}">
						</div>
						<div class="col-lg-10" id="rl-response"></div>
					</div>
					<br>
					<hr>
					<div class="row">
						<div class="col-lg-10">
							<label th:text="#{admin.vinyl.edit.createGenre}"></label>
						</div>
						<div class="col-lg-5">
							<input type="text" th:placeholder="#{admin.genre.name}" id="genreName">
						</div>
						<div class="col-lg-3">
							<input type="button" id="btn-prob" onclick="createNewGenre()" th:value="#{admin.genre.createBtn}">
						</div>
						<div class="col-lg-8" id="genre-response">
						</div>
						<div class="col-lg-10">
							<label th:text="#{admin.vinyl.tab4}"></label>
						</div>
						<div class="col-lg-7">
							<div class="select-recordlbl genre_list">
								<select class="recordlbl" id="genre-select">
									<option th:each="g: ${genres}" th:value="${g.id}" th:text="${g.name}">
									</option>
								</select>
							</div>
						</div>
						<div class="col-lg-2">
							<input type="button" onclick="addToListOfGenres()" th:value="#{admin.genre.add}">
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-8">
							<label style="padding-top: 20px;" th:text="#{admin.vinyl.tab4}"></label>
							<input type="button" style="width: fit-content; float: right; padding-left: 40px; padding-right: 40px;" class="reset-genres" th:value="#{admin.genre.reset}">
						</div>
						<div class="col-lg-8">
							<div class="filter-widget">
								<div class="fw-tags-edit" id="selected-genres">
									<ul id="genres-ul">
										<li th:each="genre: ${vinyl.genres}" th:text="${genre.name}"></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-10" id="genre-contains">
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-lg-12">
						<label style="padding-top: 20px;" th:text="#{admin.addSong}"></label>
					</div>
					<div class="col-lg-6">
						<input type="text" th:placeholder="#{admin.songName}" id="songName" name="songName">
					</div>
					<div class="col-lg-2">
						<input type="text" th:placeholder="#{admin.songDuration}" id="songDuration" name="songDuration">
					</div>
					<div class="col-lg-3">
						<input type="button" class="add-song" id="addSong" onclick="songToTable()" th:value="#{admin.addToTable}">
					</div>
					<div class="col-lg-8" id="song-response"></div>
					<div class="col-lg-12">
						<div class="specification-table" id="songTable">
							<table>
								<thead>
									<th th:text="#{admin.songTable.name}"></th>
									<th th:text="#{admin.songTable.duration}"></th>
									<th style="width: 150px"><i class="fa fa-trash" style="font-size: 20px"></i></th>
								</thead>
								<tbody id="songTableData">
									<tr data-th-each="song: ${vinyl.songs}">
										<td contenteditable="true" class="songName" th:text="${song.songName}"></td>
										<td contenteditable="true" class="songDuration" th:text="${song.duration}"></td>
										<td><i class="fa fa-trash-o" onclick="deleteSong(this)" style="font-size:26px" /></td>
										<td style="visibility: hidden;" id="songId" th:text="${song.id}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-1"></div>
					<div class="col-lg-5">
						<input type="button" class="new-vinyl-save" id="update-vinyl" th:href="@{/admin/update(id=${vinyl.id})}"
							   th:value="#{admin.vinyl.edit.saveChanges}" onclick="confirmDialogSaveChanges('Are you sure you want to save the changes?')">
					</div>
					<div class="col-lg-5">
						<input type="button" class="new-vinyl-save" th:value="#{admin.vinyl.cancel}" onclick="confirmDialogCancel('Are you sure you want to cancel?')">
					</div>
					<div class="col-lg-1"></div>
					<div id="vinyl-response" class="col-lg-10">
					</div>
				</div>

			</div>
		</div>
	</section>

	<div th:replace="admin/help/fragments :: scripts"></div>
</body>
</html>