<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/help/fragments :: admin-head"/>
<body>
<div th:replace="admin/help/fragments :: navbar"></div>

<section class="product-shop spad page-details checkout-section spad" style="padding-bottom: 100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <input type="hidden" id="not-deleted" th:value="#{admin.orders.response}">
                <div id="orders-response"></div>
                <input type="hidden" th:value="#{admin.deleteOrder}" id="remove-order">
                <div class="specification-table" id="songTable">
                    <table>
                        <thead>
                            <th th:text="#{admin.orders.id}"></th>
                            <th th:text="#{admin.orders.dateAndTime}"></th>
                            <th th:text="#{admin.orders.totalPrice}"></th>
                            <th th:text="#{admin.orders.status}"></th>
                            <th th:text="#{admin.orders.user}"></th>
                            <th style="width: 150px"><i class="fa fa-edit" style="font-size: 20px"></i></th>
                            <th style="width: 150px"><i class="fa fa-trash" style="font-size: 20px"></i></th>
                        </thead>
                        <tbody th:each="order : ${orders}">
                        <tr>
                            <td th:text="|#{myOrders.ord}${order.id}|"></td>
                            <td th:text="${#dates.format(order.dateAndTime, 'dd.MM.yyyy. HH:mm')}"></td>
                            <td th:text="${order.totalPrice + '€'}"></td>
                            <td><span th:classappend="${(order.orderStatus == 'Received' ? 'badge badge-secondary' : '') +
                                                        (order.orderStatus == 'Confirmed' ? 'badge badge-info' : '') +
                                                        (order.orderStatus == 'Cancelled' ? 'badge badge-danger' : '') +
                                                        (order.orderStatus == 'Delivered' ? 'badge badge-success' : '')}"
                                      style="padding: 7px" th:text="${order.orderStatus}"></span></td>
                            <td th:text="|${order.user.firstName} ${order.user.lastName}|"></td>
                            <td class="href-icon"><a class="edit-order-href" th:href="@{/admin/update-order(id=${order.id})}"></a><i class="edit-order fa fa-edit" style="font-size:26px"/></td>
                            <td class="href-icon"><a class="remove-order-href" th:href="@{/admin/remove-order(id=${order.id})}"></a><i class="remove-order fa fa-trash-o" style="font-size:26px"/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="admin/help/fragments :: scripts"></div>
</body>
</html>