<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/help/fragments :: admin-head"/>
<body>
<div th:replace="admin/help/fragments :: navbar"></div>

<section class="product-shop spad page-details checkout-section spad" style="padding-bottom: 100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <input type="hidden" th:value="#{admin.justChecking}" id="just-checking">
                <input type="hidden" th:value="#{admin.deleteUser}" id="user-question">
                <input type="hidden" th:value="#{admin.userDeleted}" id="user-deleted">
                <input type="hidden" th:value="#{admin.userNotDeleted}" id="user-not-deleted">

                <div class="user-delete-response"></div>
                <div class="specification-table" id="songTable">
                    <table>
                        <thead>
                            <th th:text="#{admin.users.id}"></th>
                            <th th:text="#{admin.users.firstName}"></th>
                            <th th:text="#{admin.users.lastName}"></th>
                            <th th:text="#{admin.users.email}"></th>
                            <th th:text="#{admin.users.phoneNumber}"></th>
                            <th style="width: 150px"><i class="fa fa-edit" style="font-size: 20px"></i></th>
                            <th style="width: 150px"><i class="fa fa-trash" style="font-size: 20px"></i></th>
                        </thead>
                        <tbody th:each="user : ${users}">
                        <tr>
                            <td th:text="|#{admin.users.cust}${user.id}|"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.phoneNumber}"></td>
                            <td class="href-icon"><a class="edit-order-href" th:href="@{/admin/edit-user(id=${user.id})}"></a><i class="edit-order fa fa-edit" style="font-size:26px"/></td>
                            <td class="href-icon"><a class="remove-order-href" th:href="@{/admin/remove-user(id=${user.id})}"></a><i class="remove-user fa fa-trash-o" style="font-size:26px"/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="admin/help/fragments :: scripts"></div>
</body>
</html>