<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="help/fragments :: head"/>

<body>
<div th:replace="help/fragments :: nav"></div>

<!-- Shopping Cart Section Begin -->
<section class="checkout-section spad">
    <div class="container">
        <form th:action="@{/card-payment}" class="checkout-form" method="post">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <section class="product-shop spad page-details">
                            <div class="product-tab">
                                <div class="tab-item">
                                    <ul class="nav" role="tablist">
                                        <li><a class="active" data-toggle="tab" href="#tab-1" role="tab">Personl info</a></li>
                                        <li><a data-toggle="tab" href="#tab-2" role="tab">Address</a></li>
                                        <li><a data-toggle="tab" href="#tab-3" role="tab">Payment Method</a></li>
                                    </ul>
                                </div>
                                <div class="tab-item-content">
                                    <div class="tab-content">
                                        <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                            <div class="product-content">
                                                <input type="hidden" th:name="id" th:value="${user?.id}">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <label>First Name <span>*</span></label>
														<input type="text" th:name="firstName" th:value="${user?.firstName}">
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <label>Last Name <span>*</span></label>
														<input type="text" th:name="lastName" th:value="${user?.lastName}">
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label>Email <span>*</span></label>
														<input type="text" th:name="email" th:value="${user?.email}">
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <label>Phone Number <span>*</span></label>
														<input type="text" th:name="phoneNumber" th:value="${user?.phoneNumber}">
                                                    </div>
                                                </div>
												<div class="row">
													<div class="container" style="padding-top: 30px;">
														<button type="button" class="site-btn profile-btn">Edit Profile</button>
													</div>
												</div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                            <div class="product-content">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <label>Country <span>*</span></label>
														<input type="text" th:name="country" th:value="${user?.address?.country}">
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <label>City <span>*</span></label>
														<input type="text" th:name="city" th:value="${user?.address?.city}">
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label>Street and Number <span>*</span></label>
                                                        <input type="text" th:name="street" th:value="${user?.address?.street}">
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <label>Zip Code <span>*</span></label>
														<input type="text" th:name="zipCode" th:value="${user?.address?.zipCode}">
                                                    </div>
                                                </div>
												<div class="row">
													<div class="container" style="padding-top: 30px;">
														<button type="button" class="site-btn address-btn">Edit Address</button>
													</div>
												</div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab-3" role="tabpanel">
                                            <div class="customer-review-option">
                                                <div class="row">
                                                    <div class="col-lg-11">
                                                        <label>Card Type <span>*</span></label>
														<select class="form-control" th:name="type" id="cardType" style="height: 46px; margin-bottom: 20px;">
															<option value="mastercard" th:selected="${(user?.cardInformation?.type == 'mastercard') ? true : false}">Mastercard</option>
															<option value="visa" th:selected="${(user?.cardInformation?.type == 'visa') ? true : false}">Visa</option>
														</select>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label>Card Holder Name <span>*</span></label>
                                                        <input type="text" th:name="cardHolderName" th:value="${user.cardInformation?.cardHolderName}">
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <label>Card Number <span>*</span></label>
                                                        <input type="text" th:name="cardNumber" th:value="${user.cardInformation?.cardNumber}">
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Expiration Month <span>*</span></label>
														<select class="form-control" th:name="expirationMonth" style="height: 46px;">
															<option disabled="disabled">-- Month --</option>
															<option value="1" th:selected="${(user?.cardInformation?.expirationMonth == 1) ? true : false}">January (01)</option>
															<option value="2" th:selected="${(user?.cardInformation?.expirationMonth == 2) ? true : false}">Febuary (02)</option>
															<option value="3" th:selected="${(user?.cardInformation?.expirationMonth == 3) ? true : false}">March (03)</option>
															<option value="4" th:selected="${(user?.cardInformation?.expirationMonth == 4) ? true : false}">April (04)</option>
															<option value="5" th:selected="${(user?.cardInformation?.expirationMonth == 5) ? true : false}">May (05)</option>
															<option value="6" th:selected="${(user?.cardInformation?.expirationMonth == 6) ? true : false}">June (06)</option>
															<option value="7" th:selected="${(user?.cardInformation?.expirationMonth == 7) ? true : false}">July (07)</option>
															<option value="8" th:selected="${(user?.cardInformation?.expirationMonth == 8) ? true : false}">August (08)</option>
															<option value="9" th:selected="${(user?.cardInformation?.expirationMonth == 9) ? true : false}">September (09)</option>
															<option value="10" th:selected="${(user?.cardInformation?.expirationMonth == 10) ? true : false}">October (10)</option>
															<option value="11" th:selected="${(user?.cardInformation?.expirationMonth == 11) ? true : false}">November (11)</option>
															<option value="12" th:selected="${(user?.cardInformation?.expirationMonth == 12) ? true : false}">December (12)</option>
                                                    	</select>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Expiration Year <span>*</span></label>
														<select class="form-control" th:name="expirationYear" style="height: 46px;">
															<option disabled="disabled">-- Year --</option>
															<option value="2021" th:selected="${(user?.cardInformation?.expirationYear == 2021) ? true : false}">2021</option>
															<option value="2022" th:selected="${(user?.cardInformation?.expirationYear == 2022) ? true : false}">2022</option>
															<option value="2023" th:selected="${(user?.cardInformation?.expirationYear == 2023) ? true : false}">2023</option>
															<option value="2024" th:selected="${(user?.cardInformation?.expirationYear == 2024) ? true : false}">2024</option>
															<option value="2025" th:selected="${(user?.cardInformation?.expirationYear == 2025) ? true : false}">2025</option>
															<option value="2026" th:selected="${(user?.cardInformation?.expirationYear == 2026) ? true : false}">2026</option>
                                                    </select>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>CVC: <span>*</span></label>
														<input type="number" th:name="cvc" required th:value="${user.cardInformation?.cvc}">
                                                    </div>
													<div class="row" style="align-content: center">
														<div class="container" style="padding-top: 30px; padding-left: 30px">
															<button type="button" class="site-btn card-btn">Edit Card Info</button>
														</div>
													</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="place-order">
                        <h4>Your Order</h4>
                        <div class="order-total">
                            <ul class="order-table">
                                <li>Product <span>Total</span></li>
                                <li class="fw-normal" th:each="item : ${shoppingCart}"
                                    th:text="| ${item.vinyl.vinylName} X ${item.quantity} - ${item.vinyl.price} RSD|"></li>
                                <li class="total-price">Total <span
                                        th:text="|${shoppingCartTotal} RSD|"></span></li>
                            </ul>
                            <div class="payment-check">
                                <div class="pc-item">
                                    <label for="pc-check"> Credit Card <input type="checkbox" id="pc-check"> <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="pc-item">
                                    <label for="pc-paypal"> Paypal <input type="checkbox" id="pc-paypal"><span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <input type="hidden" id="price" th:value="${shoppingCartTotal}">
                            <input type="hidden" id="currency" value="RSD">
                            <input type="hidden" id="method" value="paypal">

                            <div class="order-btn">
                                <button type="submit" id="place-order"
                                        class="site-btn place-btn">Place Order
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Shopping Cart Section End -->

<div th:replace="help/fragments :: footer"></div>
</body>

</html>