<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="help/fragments :: head" />

<body>
	<div th:replace="help/fragments :: nav"></div>

	<!-- Faq Section Begin -->
	<div class="faq-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="faq-accordin">
						<div class="accordion" id="accordionExample">
							<div class="card">
								<div class="card-heading">
									<a class="active" data-toggle="collapse" data-target="#collapseOne" th:text="#{contact.q1}">
									</a>
								</div>
								<div id="collapseOne" class="collapse show" data-parent="#accordionExample">
									<div class="card-body">
										<p th:text="#{contact.a1}"></p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-heading">
									<a data-toggle="collapse" data-target="#collapseTwo" th:text="#{contact.q2}">
									</a>
								</div>
								<div id="collapseTwo" class="collapse" data-parent="#accordionExample">
									<div class="card-body">
										<p th:text="#{contact.a2}"></p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-heading">
									<a data-toggle="collapse" data-target="#collapseThree" th:text="#{contact.q3}">
									</a>
								</div>
								<div id="collapseThree" class="collapse" data-parent="#accordionExample">
									<div class="card-body">
										<p th:text="#{contact.a3}"></p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-heading">
									<a data-toggle="collapse" data-target="#collapseFour" th:text="#{contact.q4}">
									</a>
								</div>
								<div id="collapseFour" class="collapse" data-parent="#accordionExample">
									<div class="card-body">
										<p th:text="#{contact.a4}"></p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-heading">
									<a data-toggle="collapse" data-target="#collapseFive" th:text="#{contact.q5}">
									</a>
								</div>
								<div id="collapseFive" class="collapse" data-parent="#accordionExample">
									<div class="card-body">
										<p th:text="#{contact.a5}"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Faq Section End -->

	<!-- Map Section Begin -->
	<div class="map spad">
		<div class="container">
			<div class="map-inner">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2832.3994008963746!2d20.4730389153499!3d44.77266218733961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a70576248bf79%3A0xadaf5cff042d3bd0!2z0KTQsNC60YPQu9GC0LXRgiDQvtGA0LPQsNC90LjQt9Cw0YbQuNC-0L3QuNGFINC90LDRg9C60LAg0KPQvdC40LLQtdGA0LfQuNGC0LXRgtCwINGDINCR0LXQvtCz0YDQsNC00YM!5e0!3m2!1ssr!2srs!4v1614812217691!5m2!1ssr!2srs"
					width="600" height="600" style="border:0;" allowfullscreen=""></iframe>
				<div class="icon">
					<i class="fa fa-map-marker"></i>
				</div>
			</div>
		</div>
	</div>
	<!-- Map Section Begin -->

	<!-- Contact Section Begin -->
	<section class="contact-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="contact-title">
						<h4 th:text="#{contact.us}"></h4>
					</div>
					<div class="contact-widget">
						<div class="cw-item">
							<div class="ci-icon">
								<i class="ti-location-pin"></i>
							</div>
							<div class="ci-text">
								<span th:text="#{contact.address}"></span>
								<p>Jove Ilića 154, Beograd 11000</p>
							</div>
						</div>
						<div class="cw-item">
							<div class="ci-icon">
								<i class="ti-mobile"></i>
							</div>
							<div class="ci-text">
								<span th:text="#{contact.phoneNumber}"></span>
								<p>+381113950800</p>
							</div>
						</div>
						<div class="cw-item">
							<div class="ci-icon">
								<i class="ti-world"></i>
							</div>
							<div class="ci-text">
								<span th:text="#{contact.website}"></span>
								<p>http://www.fon.bg.ac.rs/</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 offset-lg-1">
					<div class="contact-form">
						<div class="leave-comment">
							<h4 th:text="#{contact.leaveComment}"></h4>
							<form action="#" class="comment-form">
								<div class="row">
									<div class="col-lg-6">
										<input type="text" th:placeholder="#{contact.name}">
									</div>
									<div class="col-lg-6">
										<input type="text" th:placeholder="#{contact.email}">
									</div>
									<div class="col-lg-12">
										<textarea th:placeholder="#{contact.message}"></textarea>
										<button type="submit" class="site-btn" th:text="#{contact.send}"></button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact Section End -->

	<div th:replace="help/fragments :: footer"></div>
</body>

</html>