<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="help/fragments :: head" />
<body>
	<div th:replace="help/fragments :: nav"></div>
	
	    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero-items owl-carousel">
			<div class="single-hero-items set-bg" data-setbg="images/hero-2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span th:text="#{index.checkhighlights}"></span>
                            <h1 style="color: #f0f0ff;" th:text="#{index.ofyear}"></h1>
                            <p th:text="#{index.badyear}"></p>
                            <a th:href="@{/shop}" class="primary-btn" th:text="#{index.shopbtn}"></a>
                        </div>
                    </div>
                    <div class="off-card">
                        <h2><span th:utext="#{index.offcard.shop}"></span><span th:utext="#{index.offcard.vinyls}"></span></h2>
                    </div>
                </div>
			</div>
			<div class="single-hero-items set-bg" data-setbg="images/hero-3.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span style="font-weight: 1000; text-shadow: #f0f0ff;" th:text="#{index.findout}"></span>
                            <h1 style="color: #f0f0ff;" th:text="#{index.aboutus}"></h1>
                            <p style="color: #f0f0ff;" th:text="#{index.clickontwo}"></p>
							<a th:href="@{/about-us}" class="primary-btn" th:text="#{index.aboutus}"></a>
							<a th:href="@{/contact-faq}" class="primary-btn" th:text="#{index.contactfaq}"></a>
                        </div>
                    </div>
                    <div class="off-card">
                        <h2><span style="font-size: 22px;" th:text="#{index.who}"></span><span style="font-size: 22px;" th:text="#{index.are}"></span><span style="font-size: 20px;" th:text="#{index.we}"></span></h2>
                    </div>
                </div>
            </div>
            <div class="single-hero-items set-bg" data-setbg="images/hero-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>Vinyl, 2LP, 3LP, LP BOX Set</span>
                            <h1>MF DOOM</h1>
                            <p style="color: #f0f0ff;" th:text="#{index.rip}"></p>
                            <a th:href="@{/shop?search=mf+doom}" class="primary-btn" th:text="#{index.shopbtn}"></a>
                        </div>
                    </div>
                    <div class="off-card">
                        <h2><span th:text="#{index.offcard.shop}"></span><span th:text="#{index.offcard.vinyls}"></span></h2>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- Hero Section End -->
	
<!-- Latest Blog Section Begin -->
    <section class="latest-blog spad">
        <div class="container">
            <div class="benefit-items">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="images/icon-1.png" alt="">
                            </div>
                            <div class="sb-text">
                                <h6 th:text="#{index.freeshipping}"></h6>
                                <p th:text="#{index.fororders}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="images/icon-2.png" alt="">
                            </div>
                            <div class="sb-text">
                                <h6 th:text="#{index.delivery}"></h6>
                                <p th:text="#{index.guaranteed}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="images/icon-3.png" alt="">
                            </div>
                            <div class="sb-text">
                                <h6 th:text="#{index.secure}"></h6>
                                <p th:text="#{index.hundredpercent}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->


	
	<div th:replace="help/fragments :: footer"></div>
</body>
</html>