<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="help/fragments :: head" />

<body>
    <div th:replace="help/fragments :: nav"></div>

    <!-- Login Form Begin -->
    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login-form">
                        <h2>Login Form</h2>

                        <!-- logout message -->
                        <div th:if="${param.logout}">
                            <div class="alert alert-success">You have been logged out.</div>
                        </div>

                        <!-- 
						<div th:if="successfulRegistration">
							<div class="alert alert-success">Congratulations, you've successfully registered! Please log in: </div>
						</div>
						 -->

                        <form action="#" th:action="@{/login}" th:object="${user}" method="POST" id="login-form">
                            <div class="group-input">
                                <label for="username">Username</label>
                                <input type="text" th:field="*{username}" id="username" required autofocus>
                            </div>
                            <div class="group-input">
                                <label>Password</label>
                                <input type="password" th:field="*{password}" id="password" required>
                            </div>
                            <p th:if="${param.error}" class="alert alert-danger">Invalid username or password</p>

                            <button type="submit" class="site-btn login-btn">Sign In</button>
                        </form>
                        <div class="switch-login">
                            <a th:href="@{/register}" class="or-login">Or Create An Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Form End -->

    <div th:replace="help/fragments :: footer"></div>
</body>

</html>