<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="help/fragments :: head" />

<body>
    <div th:replace="help/fragments :: nav"></div>

    <!-- Login Form Begin -->
    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login-form">
                        <h2 th:text="#{login.form}"></h2>
                        <form th:action="@{/login}" th:object="${user}" method="POST" id="login-form">
                            <div th:if="${emailExists}">
                                <div class="alert alert-danger"><a class="close" data-dismiss="alert" aria-label="close">×</a><span th:text="#{alert.emailexists}"></span></div>
                            </div>
                            <div class="group-input">
                                <label for="username" th:text="#{login.username}"></label>
                                <input type="text" th:field="*{username}" id="username" required autofocus>
                            </div>
                            <div class="group-input">
                                <label th:text="#{login.password}"></label>
                                <input type="password" th:field="*{password}" id="password" required>
                            </div>
                            <p th:if="${param.error}" class="alert alert-danger"><a class="close" data-dismiss="alert" aria-label="close">×</a><span th:text="#{alert.invalidUorP}"></span></p>
                            <button type="submit" class="site-btn login-btn" th:text="#{login.signin}"></button>
                        </form>
                        <div class="switch-login">
                            <a th:href="@{/register}" class="or-login" th:text="#{login.gotoregister}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Form End -->

    <div th:replace="help/fragments :: footer"></div>
</body>

</html>