<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="help/fragments :: head" />
<body>
<div th:replace="help/fragments :: nav"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4">
            <a onclick="downloadReceipt()" style="color:#252525; float: right; padding-top: 30px; padding-right: 50px" class="print-rec"><i class="fa fa-print" style="font-size: 30px; padding-top: 30px"></i></a>
        </div>
    </div>
</div>

<div id="user-receipt">
<section class="shopping-cart spad" style="padding-top: 20px">
        <input type="hidden" name="id" th:value="${order.id}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-table">
                        <table>
                            <thead>
                            <tr>
                                <th th:text="|#{orderDetail.id}${order.id}|" style="color: #e7ab3c; font-size: 20px"></th>
                                <th th:text="#{orderDetail.productName}">Product Name</th>
                                <th th:text="#{orderDetail.price}"></th>
                                <th th:text="#{orderDetail.quantity}"></th>
                                <th th:text="#{orderDetail.total}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cartItem : ${order.cartItems}">
                                <td class="cart-pic first-row"><img th:src="${cartItem.vinyl.imgUrl}" style="width: 220px; padding: 15px"></td>
                                <td class="cart-title first-row">
                                    <h5 th:text="|${cartItem.vinyl.vinylName} - ${cartItem.vinyl.artist.stageName}|" style="text-align: center"></h5>
                                </td>
                                <td class="p-price first-row itemPrice" th:text="${cartItem.vinyl.price + '€'}"></td>
                                <td class="qua-col first-row" th:text="${cartItem.quantity}" style="font-size: 16px; font-weight: inherit;" >
                                </td>
                                <td class="total-price first-row totalPrice" th:with="totalPrice = ${cartItem.vinyl.price * cartItem.quantity}"
                                    th:text="${totalPrice + '€'}" th:value="${totalPrice}">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="padding: 0px">
                    <div class="proceed-checkout">
                        <ul>
                            <li class="subtotal">
                                <label th:text="#{admin.update.customer}"></label>
                                <span th:text="|${order.user.firstName} ${order.user.lastName}|"></span>
                            </li>
                            <li class="subtotal" style="padding-top: 10px">
                                <label th:text="#{admin.update.address}"></label>
                                <span th:text="|${order?.address?.street}, ${order?.address?.city} ${order?.address?.zipCode}|"></span>
                            </li>
                            <li class="subtotal" style="padding-top: 10px">
                                <label th:text="#{admin.update.phoneNumber}"></label>
                                <span th:text="${order.user.phoneNumber}"></span>
                            </li>
                            <li class="subtotal" style="padding-top: 10px">
                                <label th:text="#{admin.update.price}"></label>
                                <span th:text="${order.totalPrice + '€'}"></span>
                            </li>
                            <li class="subtotal" style="padding-top: 10px">
                                <label th:text="#{cart.shipping}"></label>
                                <span th:text="#{cart.free}"></span>
                            </li>
                            <li class="subtotal" style="padding-top: 10px">
                                <label th:text="#{success.total}"></label>
                                <span th:text="${order.totalPrice + '€'}"></span>
                            </li>
                            <li class="subtotal" style="padding-top: 10px">
                                <label th:text="#{admin.update.orderTime}"></label>
                                <span th:text="${#dates.format(order.dateAndTime, 'dd.MM.yyyy. HH:mm')}"></span>
                            </li>
                            <li class="subtotal" style="padding-top: 10px">
                                <label th:text="#{admin.update.payment}"></label>
                                <span th:text="${order.paymentMethod}"></span>
                            </li>
                            <li class="subtotal" style="padding-top: 10px">
                                <label th:text="#{myOrders.status}"></label>
                                <span style="padding-top: 6px; font-size: 15px; text-transform: uppercase" th:classappend="${(order.orderStatus == 'Received' ? 'badge badge-secondary' : '') +
                                    (order.orderStatus == 'Confirmed' ? 'badge badge-info' : '') +
                                    (order.orderStatus == 'Cancelled' ? 'badge badge-danger' : '') +
                                    (order.orderStatus == 'Delivered' ? 'badge badge-success' : '')}" th:text="${order.orderStatus}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>
</div>
<div th:replace="help/fragments :: footer"></div>
</body>
</html>