<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="help/fragments :: head" />

<body>

<div th:replace="help/fragments :: nav"></div>

<div class="container page-content" style="padding-top: 100px; padding-bottom: 100px">
    <div class="card">
        <div class="card-body">
            <div class="text-center py-3">
                <i data-feather="check-circle" class="text-success" width="48" height="48"></i>
                <h1 th:text="#{success.thankYou}"></h1>
                <p th:text="#{success.received}"></p>
                <p class="mb-0">
                    <span class="text-muted" th:text="#{success.id}"></span>
                    <span style="color: #e7ab3c" th:text="#{success.ord}"></span><span th:text="${order.id}" style="color: #e7ab3c"></span>
                </p>
                <p style="padding-bottom: 30px">
                    <span class="text-muted" th:text="#{success.total}"></span>
                    <span style="color: #e7ab3c"><span th:text="${#numbers.formatDecimal(order.totalPrice, 0, 2) + '€'}" style="color: #e7ab3c"></span> €</span>
                </p>
                <a th:href="@{/shop}" class="site-btn" style="color: white" th:text="#{success.continue}"></a>
                <a th:href="@{/order-detail(id=${order.id})}" class="site-btn place-btn" style="color: white" th:text="#{success.viewOrd}"></a>
            </div>
        </div>
    </div>
</div>

<div th:replace="help/fragments :: footer"></div>

</body>

</html>