<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="help/fragments :: head" />

<body>

<div th:replace="help/fragments :: nav"></div>

<div class="container page-content" style="padding-top: 100px; padding-bottom: 100px">
    <div class="card">
        <div class="card-body">
            <div class="text-center py-3">
                <i data-feather="check-circle" class="text-success" width="48" height="48"></i>
                <h1>Thank you.</h1>
                <p>Your order has been received and will be processed as soon as possible.</p>
                <p class="mb-0">
                    <span class="text-muted">Order ID: </span>
                    <span style="color: #e7ab3c">#ORD<span th:text="${order.id}" style="color: #e7ab3c"></span></span>
                </p>
                <p style="padding-bottom: 30px">
                    <span class="text-muted">Total Amount: </span>
                    <span style="color: #e7ab3c"><span th:text="${order.totalPrice}" style="color: #e7ab3c">7299</span> €</span>
                </p>
                <a th:href="@{/shop}" class="site-btn" style="color: white">CONTINUE SHOPPING</a>
                <a th:href="@{/order-detail(id=${order.id})}" class="site-btn place-btn" style="color: white">VIEW ORDER</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="help/fragments :: footer"></div>

</body>

</html>