<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="help/fragments :: head" />

<body>
    <div th:replace="help/fragments :: nav"></div>

<!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-table">
                        <table th:if="${shoppingCart != null}">
                            <thead>
                                <tr>
                                    <th th:text="#{cart.image}"></th>
                                    <th class="p-name" th:text="#{cart.productName}"></th>
                                    <th th:text="#{cart.price}"></th>
                                    <th th:text="#{cart.quantity}"></th>
                                    <th th:text="#{cart.total}"></th>
                                    <th><i class="ti-trash"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="cartItem : ${shoppingCart}">
                                    <input type="hidden" id="cartItemId" th:value="${cartItem.id}">
                                    <td class="cart-pic first-row"><img th:src="${cartItem.vinyl.imgUrl}" style="width: 220px;" alt=""></td>
                                    <td class="cart-title first-row">
                                        <h5 style="text-align: center" th:text="|${cartItem.vinyl.vinylName} - ${cartItem.vinyl.artist.stageName}|"></h5>
                                    </td>
									<td class="p-price first-row itemPrice" th:text="${cartItem.vinyl.price + '€'}"></td>
                                    <td class="qua-col first-row">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input class="itemQuantity" readonly type="text" th:value="${cartItem.quantity}">
                                            </div>
                                        </div>
                                    </td>
									<td class="total-price first-row totalPrice" th:with="totalPrice = ${cartItem.vinyl.price * cartItem.quantity}" 
										th:text="${totalPrice + '€'}" th:value="${totalPrice}"></td>
                                    <td class="close-td first-row"><a class="item-href" th:href="@{/cart/remove-item(id=${cartItem.id})}"></a><i class="remove-cart-item ti-trash"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="cart-buttons">
                                <a th:href="@{/shop}" class="primary-btn up-cart" th:text="#{cart.continue}"></a>
                            </div>
                        </div>
                        <div class="col-lg-4 offset-lg-4">
                            <div class="proceed-checkout">
                                <ul>
                                    <li class="subtotal"><span style="float: left" th:text="#{cart.shipping}"></span><span th:text="#{cart.free}"></span></li>
                                    <li class="cart-total"><span style="float: left" th:text="#{cart.total}"></span><span th:text="${#numbers.formatDecimal(shoppingCartTotal, 0, 2) + '€'}"></span></li>
                                </ul>
                                <a th:href="@{/checkout}" class="proceed-btn" th:text="#{cart.goToCheckout}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->

    <div th:replace="help/fragments :: footer"></div>
</body>

</html>